.form__input-and-button {
  display: flex;
}

.input {
  display: block;
  width: 100%;
  padding: .5rem .75rem;
  font-size: 1rem;
  line-height: 1.25;
  color: #464a4c;
  background: #fff none;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;
}

.btn {
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: .5rem 1rem;
  font-size: 1rem;
  border-radius: .25rem;
  transition: all .2s ease-in-out;
}

.btn-primary {
  color: #fff;
  background-color: #0275d8;
  border-color: #0275d8;
  &:hover {
    color: #fff;
    background-color: #025aa5;
    border-color: #01549b;
  }
  &[disabled] {
    background-color: #0275d8;
    border-color: #0275d8;
    cursor: not-allowed;
    opacity: .65;
  }
}

.btn:focus, .btn:hover {
  text-decoration: none;
}

.form__input {
  @extend .input;
}
.form__button {
  @extend .btn, .btn-primary;
  margin-left: 1rem;
}

.error {
  margin: 1rem;
  color: red;
}